* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0e0e0f;
  display: flex;
  justify-content: center;
}

.App {
  max-width: 600px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F5F5F5;
  padding: 26px;
  margin: 100px 0;
  border-radius: 7px;
}

.main-container {
  display: flex;
  flex-direction: column;
  border: 18px solid rgb(25, 25, 25);
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 2.3em;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.22em;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 26px;
  margin-top: 0;
  text-align: center;
  padding: 0 50px;
}

.numbers-box {
  width: 360px;
  min-height: 144px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 0 auto;
}


.number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;
  background-color: rgb(253, 253, 253);
  border: 5px solid #cbd0cd;
  border: 5px solid #e9e9e9;
  border-radius: 5px;
  font-family: Karla;
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}




.container {
  width: 400px;
  min-height: 200px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgb(253, 253, 253);
  /* border: 7px solid #c1e0cf; */
  border-radius: 5px;
  /* box-shadow: 0px 2px 22px #e0e7e2; */
  box-shadow: 0px 4px 3px #99a7a0;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}

.die-clicked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4dee8e;
  width: 60px;
  height: 60px;
  border: 7px solid #e0e7e2;
  border-radius: 5px;
  font-family: Karla;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px;
}

.btn {
  display: block;
  width: 128px;
  height: 46px;
  margin: 20px auto 0;
  border-radius: 5px;
  background-color: #5035FF;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}